@charset 'utf-8';
@import '../../../globals/Variables.scss';

ol {
  color: #fff;
  font-family: $secondary-font;
  font-size:1.8rem;
  @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
    height: 100%;
  }
  > li {
    cursor: pointer;

    &:hover {
      color:#c7ccec;
      transition: all 0.2s ease-in;
    }
    > figure {
        transition: transform .4s;
      &:hover {
        transform: rotate(45deg)
      }
    }
  }
}
