@charset 'utf-8';
@import './Variables.scss';

@mixin titlePadronization {
    font-family: $secondary-font;
    color: $text;
    line-height: 5rem;
}
@mixin darkMode {
  background-color: $dark-mode-bg;
  color: $dark-mode-text;
  transition: $dark-mode-transition-bg;
}
