@charset 'utf-8';
@import './Variables.scss';
@import './Mixins.scss';

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
body.dark-mode {
  @include darkMode;
}
body.dark-mode span, .body-dark-mode h2, .body-dark-mode h1 {
    color: $dark-mode-text;
}
ul, li {
  list-style: none;
}
button {
  cursor: pointer;
}
abbr {
  text-decoration: none;
}
