@charset 'utf-8';

$primary: #854fee;
$secondary: #4458dc;
$notABlack:#575b5f;
$text:#777;
$default-font: 'Roboto', sans-serif;
$secondary-font: 'Kumbh Sans', sans-serif;
$thirdary-font: 'Raleway', sans-serif;
$default-align-font-mobile: center;
$box-shadow:0px 10px 30px #39383d34;


// Mq
$mobile: 375px;
$mobile-lg: 425px;
$tablet-sm: 600px;
$tablet-md: 800px;
$computer: 1000px;
$computer-lg: 1300px;

// dark
$dark-mode-bg: #000;
$dark-mode-text: #fff;
$dark-mode-transition-bg: all 0.25s linear;
