@charset 'utf-8';
@import '../../globals/Variables.scss';
@import '../../globals/Mixins.scss';

section {
  h2 {
   @include titlePadronization;

   > img {
     width: 10vw;
    @media (min-width: 1001px) {
       width: 6vw;
    }
   }

  }
   > div[id="card-projects"] {
     @media (min-width: $tablet-md) and (max-width: $computer){
       display: grid;
       grid-template-columns: repeat(2, 1fr);
     }
    @media (min-width: 1001px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
   }
}
