@charset 'utf-8';
@import '../../globals/Variables.scss';
@import '../../globals/Mixins.scss';

div[id="cards"] {
   @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   @media (min-width: $tablet-md) and (max-width: $computer){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1001px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 8rem;
    }
}


h2 {
   @include titlePadronization;
   @include fullCenter;
    line-height: 10rem;
    text-align: center;
   > img {
     width: 10vw;
     margin-left: 2rem;

     @media (min-width: 1001px) {
       width: 6vw;
     }
   }
  @media (min-width: 1001px) {
    @include fullCenter;
    font-size: 4rem;
    margin: 3rem 0;
   }
}
