@charset 'utf-8';
@import "../../globals/Variables.scss";

aside {
  padding: 0 3rem;

  @media (min-width: $mobile-lg) {
    padding: 0 6rem;
  }

  @media (min-width: $tablet-sm) and (max-width: $tablet-md) {
    padding: 0 2rem;
  }

  @media (min-width: 800px) and (max-width: 1000px) {
    padding: 0 6rem;
  }

  @media (min-width: 1001px) {
    padding: 0 1rem;
  }
}
