@charset 'utf-8';
@import '../../../globals/Variables.scss';

a {
  text-decoration: none;
  div[id="projects"] {
    margin: 5rem 0;
    @media (min-width: $mobile-lg) {
      padding: 0 4rem;
    }
    @media (min-width: $tablet-md) and (max-width: $computer){
      padding: 0 1rem;
    }
  }
}
