@charset 'utf-8';
@import '../../globals/Variables.scss';

header {
  height: 14vh;
  background: $primary;
    position: fixed;
    width: 100%;
    box-shadow: $box-shadow;
    z-index: 1;
    transition: background 1s ease;

  @media (min-width: 1001px) {
    display: flex;
    justify-content: space-evenly;
  }
  > figure {
    margin-left: 4rem;
  }
}
