@charset 'utf-8';
@import '../../globals/Variables.scss';
@import '../../globals/Mixins.scss';

section {
  text-align: center;
  font-family: $default-font;
  > div {
    @media (min-width: $computer) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    figure {
      > img {
        width: 100%;

        @media (min-width: $tablet-sm) and (max-width: 999px) {
          width: 50%;
        }
        @media (min-width: $computer) {
          width: 100%;
        }
      }
      @media (min-width: $computer) {
        order: 3;
      }
    }
    > h2:first-child {
      @include titlePadronization;
    }
    > section[id="contact"] {
      @media (min-width:$tablet-sm) and (max-width:$computer) {
        display: grid;
        grid-template-columns:repeat(2,1fr);
      }
      @media (min-width: $computer) {
        order: 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  > h2:last-child {
    @media (min-width: $tablet-md) and (max-width: $computer){
      font-size: 3rem;
    }
  }
  > section[id="introduce"] {
    @media (min-width: $tablet-sm) and (max-width:$computer) {
      display: grid;
      grid-template-columns: 20% 1fr;
    }
    @media (min-width: 1001px) {
      display: grid;
      grid-template-columns: 20% 1fr;
      margin: 4rem 0;
    }
      > i {
      @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
        display: grid;
        align-items: center;
      }
      @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
       display: grid;
      }
        > img {
          width: 30%;
          border-radius: 50%;
          border: 1px solid transparent;
          transition: height 0.5s ease-in-out;
          @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
            align-items: center;
            display: flex;
            width: 100%;
          }
          @media (min-width: 800px) and (max-width: 1000px){
            width: 100%;
          }
          @media (min-width: 1001px) {
             width: 100%;
          }
          &:hover {
            box-shadow: $box-shadow;
          }
        }
      }
    > article {
      padding: 0 2rem;
      text-align: justify;
      line-height: 3rem;
      font-family: $thirdary-font;
      @media (min-width: $mobile-lg) {
        line-height: 4rem;
        padding: 0 5rem;
      }
      @media (min-width: $tablet-sm) and (max-width:$tablet-md) {
        padding: 0 3rem;
      }
    }
  }
}
